head
    include ./components/header 
    script(src="/rewatch.js")
    script(src="/game.js")
    script. 
        gameBoard = #{gameBoard}
    title Game page
body
    include ./components/navbar
    div#alert(class=`sticky-top`)
    div.under-nav-container
        div(class="d-flex flex-wrap h-100 justify-content-center")
            div#game-container(class="h-100 px-5" style="max-width:600px;")
                if !spectate
                    div(class="btn-group w-100 justify-content-between")
                        each col in [1,2,3,4,5,6,7,8]
                            a(class="flex-fill text-center btn btn-warning" style="margin-left:5px; margin-right:5px;" href="javascript:playMove(\""+id +"\",\""+ turn +"\",\""+ col +"\")") &darr;
                canvas#gameCanvas(class="w-100 h-75" style="background-color: #00bfff;border-radius:15px;")
            div#side-container(style="max-width:600px;")   
                div.card
                    div.card-header
                        div(style="display:flex;justify-content: center;")
                            h5 GAME #
                            h5#gameid #{id}
                    div.card-body
                        div(style="display:flex;justify-content: start;")
                            h5.card-title Players:
                            h6.card-text(style="margin-left:10px;padding-top:4px;") #{players[0]}(red) VS. #{players[1]}(green)
                        div(style="display:flex;justify-content: start;")
                            h5.card-title Turn:
                            if turn==1
                                h6#turn(style="margin-left:10px;padding-top:4px;") #{players[0]}  
                            else
                                h6#turn(style="margin-left:10px;padding-top:4px;") #{players[1]}
                        div(style="display:flex;justify-content: start;")
                            h5.card-title Game privacy:
                            h6.card-text(style="margin-left:10px;padding-top:4px;") #{privacy}
                        h5 Chat:
                        include ./components/chat.pug   